
@{
    ViewBag.Title = "Explaination";
    Layout = "~/Areas/Tutors/Views/Shared/_LayoutTutor.cshtml";
}

<div class="row mt-4 bg-light">
    <div class="col-lg-8 offset-lg-2">

        <h1 class="h2">Giải thích về không phù hợp</h1>

        <p class="mt-4">"Không phù hợp" trong tài liệu này có nghĩa rằng khi bạn đăng ký nhận lớp và sau đó nhận được phản hồi rằng bạn không phù hợp với lớp đó.</p>

        <h2 class="h4 mt-4 pt-2 mb-3">Sự khác biệt</h2>

        <p>Nếu bạn quan sát, bạn sẽ thấy có những lớp nằm trong danh mục <a href="/lop-phu-hop">lớp phù hợp</a>, nhưng khi bạn đăng ký nhận lớp đó, bạn lại nhận được phản hồi rằng bạn không phù hợp.</p>

        <p>Điều này xảy ra do:</p>

        <ul class="pl-4">
            <li class="mb-2"><b>Lớp phù hợp:</b> Hệ thống công nghệ tự động so khớp thông tin của lớp và thông tin của bạn, để đánh giá sự phù hợp</li>
            <li><b>Phản hồi không phù hợp:</b> Do đánh giá của các chuyên viên của GrowGreen</li>
        </ul>

        <h2 class="h4 mt-4 pt-2 mb-3">Đánh giá về không phù hợp</h2>

        <p>Để đảm bảo chất lượng đối với khách hàng (phụ huynh và học viên), sẽ có những trường hợp gia sư được GrowGreen đánh giá là không phù hợp với một hoặc nhiều lớp.</p>

        <p>Trong các tuyên bố về chất lượng, GrowGreen cam kết đảm bảo quyền lợi của gia sư trong việc <a href="/tinh-lai-phi-nhan-lop">tính lại phí nhận lớp</a> và <a href="/chinh-sach-hoan-phi">hoàn phí</a> khi lớp gặp sự cố. Tuy nhiên, GrowGreen <b>không</b> cam kết rằng tất cả gia sư đều có thể được nhận lớp.</p>

        <div class="callout">Trách nhiệm của GrowGreen là tuyển chọn gia sư một cách chặt chẽ</div>

        <p>Việc đánh giá không phù hợp được thực hiện bởi các chuyên viên của GrowGreen. Những chuyên viên này có đầy đủ kiến thức, năng lực và kinh nghiệm để thực hiện công việc này.</p>

        <p>Các quyết định đánh giá gia sư có phù hợp với lớp hay không, được dựa trên rất nhiều thông tin.</p>

        <p>Tuy nhiên, GrowGreen sẽ <b>không</b> đưa ra bất kỳ giải thích chi tiết nào cho từng trường hợp cụ thể về việc đánh giá "không phù hợp".</p>

        <h2 class="h4 mt-4 pt-2 mb-3">Ngay cả khi có số dư</h2>

        <p>Nếu bạn đang có số dư (&gt;0), hoặc đang để lại giấy tờ tại GrowGreen. Điều này sẽ <b>không</b> ảnh hưởng đến việc đánh giá "không phù hợp".</p>

        <p>Trên thực tế, để thuận tiện cho việc quản lý, GrowGreen khuyến nghị gia sư nên rút số dư hoặc giấy tờ về. Bất cứ khi nào bạn được nhận lớp, bạn đều có thể chuyển khoản một cách dễ dàng. Vậy tại sao lại phải để lại số dư?</p>

        <p>Xem <a href="/chinh-sach-hoan-phi">chính sách hoàn phí</a></p>

        <a href="/" class="btn btn-primary font-weight-bold mt-4 px-5">Quay về trang tổng quan</a>

    </div>
</div>

