
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Areas/Tutors/Views/Shared/_LayoutTutor.cshtml";
}

<div class="container py-5 bg-light">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">

            <h1 class="mb-4">Chính sách bảo mật</h1>

            <p>GrowGreen luôn tôn trọng và chú trọng bảo mật thông tin cho khách hàng, đối tác và khách truy cập vào các website: <a href="https://www.growgreen.edu.vn">www.growgreen.edu.vn</a>, <a href="https://tutor.growgreen.edu.vn">tutor.growgreen.edu.vn</a>. Tài liệu chính sách bảo mật này sẽ cung cấp cho bạn biết các loại thông tin được GrowGreen thu thập, lưu trữ và cách thức sử dụng những thông tin đó.</p>

            <h2 class="h3 mt-4 mb-3">Thu thập thông tin</h2>

            <p>GrowGreen thu thập những thông tin của bạn qua các form biểu mẫu mà bạn nhập thông tin vào. Tất cả các biểu mẫu đều được ghi chú rõ ràng và đảm bảo bạn luôn biết rằng: thông tin của bạn sẽ được gửi đến GrowGreen mỗi khi bạn cập nhập thông tin vào biểu mẫu trên website.</p>

            <h2 class="h3 mt-4 mb-3">Lưu trữ thông tin</h2>

            <p>GrowGreen lưu trữ thông tin của bạn trên máy chủ và thông tin của bạn luôn được bảo mật. Đối với mật khẩu của bạn, GrowGreen thực hiện mã hóa tiêu chuẩn <a href="https://vi.wikipedia.org/wiki/Advanced_Encryption_Standard" target="_blank">AES</a> 256 CBC (hashing) trước khi lưu trữ. Sau khi mã hóa, mật khẩu được lưu trữ sẽ không thể giải mã được. Điều này có nghĩa: Không một ai ngoài bạn có thể biết được mật khẩu của bạn.</p>

            <p>Ví dụ: Mật khẩu của bạn là 123456, được GrowGreen lưu trữ giống dạng: <span class="text-muted">$2y$12$A5XxVWW8TnVH.BGojOfO1.n85L9Negs/P1lQoPvQX.8wtLlNkMxMO</span></p>

            <p>Xem thêm về <a target="_blank" href="/ma-hoa-mat-khau">Mã hóa mật khẩu</a> của GrowGreen.</p>

            <h2 class="h3 mt-4 mb-3">Sử dụng thông tin</h2>

            <p>Thông tin của bạn được GrowGreen sử dụng để chỉ phục vụ cho nhu cầu của bạn. Chẳng hạn, bạn cần thuê gia sư, hoặc cần nhận lớp gia sư.</p>

            <p>GrowGreen cam kết không chia sẻ thông tin của bạn cho các đơn vị khác, trừ trường hợp có lệnh của tòa án.</p>

            <h2 class="h3 mt-4 mb-3">Thu thập Cookies</h2>

            <p>Giống như bất kỳ trang web nào khác, Website của GrowGreen sử dụng 'cookie'. Cookie được gửi từ một trang web và được lưu trữ trên trình duyệt web của bạn. GrowGreen sử dụng công cụ tiếp thị, ghi nhận mỗi khi bạn truy cập vào website của GrowGreen và có thể hiển thị lại quảng cáo liên quan đến bạn.</p>

            <h2 class="h3 mt-4 mb-3">Chính sách bảo mật</h2>

            <p>Thông tin mà GrowGreen thu thập của bạn qua các form biểu mẫu luôn được được bảo mật và cam kết không chia sẻ cho đơn vị khác.</p>

            <p>GrowGreen sử dụng các nhà quảng cáo như Google, Facebook, ... Họ sử dụng các công nghệ như cookie, JavaScript để thu thập hành vi sử dụng của bạn trên website. Lưu ý rằng GrowGreen không có quyền truy cập hoặc kiểm soát các cookie được sử dụng bởi các nhà quảng cáo bên thứ ba.</p>

            <p>Bạn có thể chọn tắt cookie thông qua các tùy chọn trình duyệt cá nhân. Để biết thông tin chi tiết hơn về quản lý cookie với các trình duyệt web cụ thể, có thể tìm thấy nó tại các trang web tương ứng của trình duyệt. <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">Cookies là gì?</a></p>

            <h2 class="h3 mt-4 mb-3">Thông tin trẻ em</h2>

            <p>Một phần ưu tiên khác của chúng tôi là bổ sung sự bảo vệ cho trẻ em khi sử dụng internet. Chúng tôi khuyến khích phụ huynh và người giám hộ quan sát, tham gia và giám sát và hướng dẫn hoạt động trực tuyến của họ.</p>

            <h2 class="h3 mt-4 mb-3">Bằng lòng</h2>

            <p>Bằng cách sử dụng trang web của chúng tôi, bạn đồng ý với Chính sách quyền riêng tư của chúng tôi và đồng ý với Điều khoản và Điều kiện của website.</p>

            <div class="mt-5">
                <a href="/" class="btn btn-primary font-weight-bold">Quay về trang chủ</a>
            </div>


        </div>
    </div>
</div>

