
@{
    ViewBag.Title = "Map";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Google Map</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245367.8539797139!2d107.93803865670438!3d16.07209342392541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c792252a13%3A0x1df0cb4b86727e06!2zxJDDoCBO4bq1bmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1652932160543!5m2!1svi!2s" width="1400" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>