@model IEnumerable<PBL3_Tutor.Models.Account>
@{
    ViewBag.Title = "Table";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Page Content -->
<h3 class="box-title">Basic Table</h3>
<p class="text-muted">Account admin and staff <code>.table</code></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @if (item.Role.rolename == "Admin")
                        {
                            @Html.DisplayFor(modelItem => item.Admins.Where(p => p.username == item.username).FirstOrDefault().name)
                        }
                        else if (item.Role.rolename == "Nhân viên")
                        {
                            @Html.DisplayFor(modelItem => item.Staffs.Where(p => p.username == item.username).FirstOrDefault().name)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.rolename)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

