@{
    ViewBag.Title = "ParentBlog";
}

<h2>@ViewBag.Title</h2>
<h3>Top những trung tâm gia sư uy tín tại Đà Nẵng</h3>
<iframe width="853" height="480" src="https://www.youtube.com/embed/E_AHifBQDFA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Use this area to provide additional information.</p>