@{
    ViewBag.Title = "StudentBlog";
}

<h2>@ViewBag.Title</h2>
<h3>Bí quyết học tập hiệu quả</h3>
<iframe width="853" height="480" src="https://www.youtube.com/embed/HGA4rWFrnmU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Use this area to provide additional information.</p>