@{
    ViewBag.Title = "TutorBlog";
}

<div class=" jumbotron">
    <h2>Đừng gọi anh dậy</h2>
    <iframe width="855" height="451" src="https://www.youtube.com/embed/jyTq5-aNgDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>