
@{
    ViewBag.Title = "ChangeThePassword";
    Layout = "~/Areas/Tutors/Views/Shared/_LayoutTutor.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <h2>Đổi mật khẩu</h2>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">@Html.Raw(ViewBag.Error)</p>

            @using (Html.BeginForm("ChangeThePassword", "TutorAccount", FormMethod.Post))
            {
                <form>
                    <div class="mb-3">
                        <label for="inputOldPassword" class="form-label">Mật khẩu cũ</label>
                        <input type="password" class="form-control" id="OldPassword" name="OldPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputNewPassword" class="form-label">Mật khẩu mới</label>
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputNewPasswordAgain" class="form-label">Nhập lại mật khẩu mới</label>
                        <input type="password" class="form-control" id="NewPasswordAgain" name="NewPasswordAgain" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            }

        </div>
        <!-- /.login-card-body -->
    </div>
</div>


