@{
    ViewBag.Title = "About";
}
<div class="jumbotron bg-light">
    <div class="row">
        <div class="col-lg-4 pt-3">

            <ul class="list-angle pl-0">
                <li><a href="#so_luoc">Giới thiệu sơ lược</a></li>
                <li><a href="#su_menh">Sứ mệnh</a></li>
                <li><a href="#tam_nhin">Tầm nhìn &amp; phát triển</a></li>
                <li><a href="#video_gioi_thieu">Video giới thiệu</a></li>
            </ul>

        </div>

        <div class="col-lg-8 mt-4 mt-lg-0">
            <h1 class="card-subtitle text-primary">Giới thiệu về trung tâm PBL3</h1>

            <div class="row">
                <h2 class="mt-5 mb-3" id="so_luoc">Giới thiệu sơ lược</h2>

                <p>Trung tâm gia sư PBL3 là đồ án được xây dựng bởi Công ty TNHH 4 thành viên nhóm 7 và thầy Võ Đức Hoàng.</p>

                <p>Bên cạnh thế mạnh của mỗi công ty, Trung tâm gia sư PBL3 còn có đội ngũ nhân viên được đào tạo bài bản, có đầy đủ kiến thức và kỹ năng tuyển chọn nhân sự trong ngành giáo dục.</p>

                <div class="my-4 py-2">
                    <img src="https://www.growgreen.edu.vn/uploads/1902/trung-tam-gia-su.jpg" alt="Giới thiệu về PBL3">
                </div>

                <p>Hiện tại, PBL3 là trung tâm trong giai đoạn phát triển hệ thống.</p>

                <p>Chiến lược kinh doanh của trung tâm rất đơn giản:</p>

                <ul class="list-unstyled">
                    <ul>
                        <li>Chất lượng hàng đầu</li>
                        <li>Chăm sóc khách hàng tuyệt vời</li>
                        <li>Đảo đảm <a href="https://tutor.growgreen.edu.vn/chinh-sach-hoan-phi" target="blank_">quyền lợi của gia sư</a>.</li>
                    </ul>
                </ul>

                <p>Bạn có thể dễ dàng thấy được khác biệt giữa PBL3 so với các trung tâm gia sư khác. PBL3 đã chuyên nghiệp hóa thành công dịch vụ gia sư, mang đến cho khách hàng và gia sư sự tin tưởng cao nhất.</p>
            </div>

            <h2 class="mt-5 mb-3" id="su_menh">Sứ mệnh</h2>

            <h3 class="h4 mt-4 text-primary">1. Đối với khách hàng</h3>

            <p>PBL3 cung cấp cho khách hàng dịch vụ <a href="/dang-ky-thue-gia-su">tuyển chọn gia sư</a> uy tín, chất lượng. Gia sư luôn đảm bảo tiêu chuẩn, đã được PBL3 phỏng vấn và có lưu trữ hồ sơ đầy đủ. Sự tiến bộ của học sinh và mức độ hài lòng của khách hàng là những yếu tố mà chúng tôi luôn nỗ lực tối ưu hóa.</p>

            <h3 class="h4 mt-4 text-primary">2. Đối với gia sư</h3>

            <p>PBL3 cung cấp cho gia sư những cơ hội việc làm với mức lương luôn xứng đáng. Đồng thời, thông tin lớp học luôn được hiển thị chi tiết và đầy đủ trước khi gia sư đồng ý nhận lớp. Quyền lợi của gia sư khi lớp bị hỏng hoặc có sự cố cũng luôn được đảm bảo.</p>

            <p>Tại PBL3, gia sư luôn có thể dễ dàng tìm lớp dạy phù hợp trên <a href="https://tutor.growgreen.edu.vn" target="blank_">Website dành riêng cho gia sư</a>.</p>

            <h3 class="h4 mt-4 text-primary">3. Đối với nhân viên</h3>

            <p>PBL3 mang đến cho đội ngũ nhân viên một môi trường làm việc cống hiến, thu nhập tốt và chế độ đãi ngộ đầy đủ. Kèm theo đó, PBL3 luôn chú trọng đến việc đào tạo, nâng cao trình độ và kỹ năng làm việc của đội ngũ nhân viên.</p>

            <h3 class="h4 mt-4 text-primary">4. Đối với cộng đồng</h3>

            <p>PBL3 muốn đóng góp vào sự phát triển của Quốc Gia thông qua trợ giúp các em học sinh có được cơ hội giáo dục tốt và gia tăng thu nhập cho gia sư: những Sinh Viên và Giáo Viên có kiến thức, kỹ năng giảng dạy tốt.</p>

            <h3 class="h4 mt-4 text-primary">5. Đối với đối tác</h3>

            <p>PBL3 luôn tôn trọng đối tác và các nhà cung cấp. Trên cơ sở cùng hợp tác, cùng phát triển. Chúng tôi luôn sẵn sàng giúp đỡ đối tác để tạo thành một liên kết vững mạnh trong cơ sở kinh doanh của chúng tôi.</p>

            <h2 class="mt-5 mb-3" id="tam_nhin">Tầm nhìn &amp; phát triển</h2>

            <p>Với nguồn lực mạnh mẽ về công nghệ và chuyên môn, Trung tâm gia sư PBL3 sẽ tiếp tục được đầu tư và xây dựng để mang đến cho khách hàng dịch vụ gia sư chất lượng, hiệu quả và tin cậy.</p>

            <p>Hiện tại, Trung tâm gia sư PBL3 mới chỉ hoạt động tại khu vực Hà Nội. Kế hoạch hoạt động tại toàn bộ Việt Nam đang được xây dựng và sẽ sớm được thực hiện trong tương lai.</p>

            <div class="my-4 py-2">
                <img src="https://www.growgreen.edu.vn/uploads/1910/tam-nhin-va-phat-trien-growgreen.jpg" alt="Tầm nhìn và phát triển GrowGreen">
            </div>

            <p class="mt-4">Bạn cần tìm hiểu thêm về PBL3, đừng ngại ngần. Hãy liên hệ với PBL3 và nhận sự hỗ trợ tốt nhất.</p>

            <a href="/lien-he" class="btn btn-primary mt-4 font-weight-bold">Liên hệ với PBL3</a>

            <div class="pt-3"></div>

            <!-- video gioi thieu-->
            <div class="col-lg-8 mt-4 mt-lg-0" id="video_gioi_thieu">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/r17tdNVJRUk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</div>
