
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container bg-light" style="width:620px;">
    <div class="container">
        <h1 class="mb-4 text-success">Đăng ký thành công</h1>
        <p>Cảm ơn bạn đã đăng ký thuê gia sư tại PBL3</p>
        <p>Chúng tôi sẽ gọi lại tư vấn cho bạn trong khung giờ làm việc từ 8h-12h & 13h30-17h, thứ 2 - thứ 7. Mong bạn vui lòng để ý điện thoại.</p>
        <p class="mt-4 pt-1">Số điện thoại hỗ trợ: <a href="tel:+84902123456" class="px-1">0902-1234-56</a></p>

        <div class="text-start">
            <a class="btn btn-primary px-5 mt-3 font-weight-bold" href="@Url.Action("Index","Home")" role="button">Trở về trang chủ</a>
        </div>
    </div>
    
    <br/>
</div>
<br />

